/ezfact-clientes/ezfact-clientes.iml
/entich-commons/entich-commons.iml
entich-commons/.project
entich-commons/.classpath
entich-commons/.settings/
entich-commons/bin/
entich-commons/target/

entich-usuarios/.project
entich-usuarios/.classpath
entich-usuarios/.settings/
entich-usuarios/bin/
entich-usuarios/target/

ezfact-usuarios/.project
ezfact-usuarios/.classpath
ezfact-usuarios/.settings/
ezfact-usuarios/bin/
/ezfact-emisores/ezfact-emisores.iml
/ezfact-facturacion/ezfact-facturacion.iml
/ezfact-paquetes/ezfact-paquetes.iml
/ezfact-productos/ezfact-productos.iml
ezfact-usuarios/target/
/ezfact-usuarios/ezfact-usuarios.iml
/ezfact-web/ezfact-web.iml

ezfact-emisores/.project
ezfact-emisores/.classpath
ezfact-emisores/.settings/
ezfact-emisores/bin/
ezfact-emisores/target/
ezfact-emisores/certificados/

ezfact-clientes/.project
ezfact-clientes/.classpath
ezfact-clientes/.settings/
ezfact-clientes/bin/
ezfact-clientes/target/

facturacion-web/.project
facturacion-web/.classpath
facturacion-web/.settings/
facturacion-web/bin/
facturacion-web/target/
facturacion-web/cfdi/
facturacion-web/logs/

ezfact-productos/.project
ezfact-productos/.classpath
ezfact-productos/.settings/
ezfact-productos/bin/
ezfact-productos/target/

ezfact-productos/.project
ezfact-productos/.classpath
ezfact-productos/.settings/
ezfact-facturacion/cfdi/
ezfact-facturacion/plantillas/
ezfact-facturacion/bin/
ezfact-productos/target/


ezfact-paquetes/.project
ezfact-paquetes/.classpath
ezfact-paquetes/.settings/
ezfact-paquetes/target/
ezfact-paquetes/bin/


status.txt

# OS files #
.DS_Store
.DS_Store?

MANIFEST.MF
.project
.settings